<h3 class="text-center">Categories</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">CreatedOn</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of allCategories$ | async let i = index" >
            <td scope="row">{{i + 1}}</td>
            <td scope="row">{{category.name}}</td>
            <td scope="row" >{{category.createdOn}}</td>
            <td scope="row" class="btn btn-primary btn-sm" [routerLink]= "['/posts/all', category.id]"
             role="button" >View Posts</td>
             <td scope="row" *ngIf="canUpdate()" class="btn btn-primary btn-sm"
             (click) = delete(category.id)
             role="button" >Delete</td>
        </tr>
    </tbody>
</table>   

